<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="css/style.css")

    body
        section.section.section.section--white
            .container.container--space_m
                .row.row--justify_between
                    .cell.cell--7-lg.cell--12
                        .swiper
                            .swiper-container.gallery-thumbs.js-gallery-thumbs
                                // Additional required wrapper
                                .swiper-wrapper
                                    // Slides
                                    .swiper-slide 
                                        .aspect-ratio
                                            img(src="./img/orange1.png", alt="glases").aspect-ratio__body
                                    .swiper-slide
                                        .aspect-ratio
                                            img(src="./img/orange2.png", alt="glases").aspect-ratio__body
                                    .swiper-slide
                                        .aspect-ratio
                                            img(src="./img/orange3.png", alt="glases").aspect-ratio__body
                            .swiper-container.gallery-top.js-gallery-top
                                // Additional required wrapper
                                .swiper-wrapper
                                    // Slides
                                    .swiper-slide 
                                        .aspect-ratio
                                            img(src="./img/orange1.png", alt="glases").aspect-ratio__body
                                    .swiper-slide
                                        .aspect-ratio
                                            img(src="./img/orange2.png", alt="glases").aspect-ratio__body
                                    .swiper-slide
                                        .aspect-ratio
                                            img(src="./img/orange3.png", alt="glases").aspect-ratio__body   
                        .card.card--grid_4
                            div
                                h3.caption.caption--size_4.caption--align_height_1.caption--uppercase.caption--line_height_1.caption--align_center.caption--bold
                                    |includes
                                p.caption.caption--size_5.caption--align_height_1.caption--line_height_1.caption--align_center
                                    |Hard case protective case with zipper
                            div
                                h3.caption.caption--size_4.caption--align_height_1.caption--uppercase.caption--line_height_1.caption--align_center.caption--bold
                                    |30-day
                                p.caption.caption--size_5.caption--align_height_1.caption--line_height_1.caption--align_center
                                    |100 percent, no questions asked, money back gurantee
                            div
                                h3.caption.caption--size_4.caption--align_height_1.caption--uppercase.caption--line_height_1.caption--align_center.caption--bold
                                    |2-year
                                p.caption.caption--size_5.caption--align_height_1.caption--line_height_1.caption--align_center
                                    |warranty covering frame damage at no charge
                            div
                                h3.caption.caption--size_4.caption--align_height_1.caption--uppercase.caption--line_height_1.caption--align_center.caption--bold
                                    |free
                                p.caption.caption--size_5.caption--align_height_1.caption--line_height_1.caption--align_center
                                    |shipping & returns on all orders to the US
                    .cell.cell--5-lg.cell--12
                        .card
                            .card__panel--title
                                h1.caption.caption--size_2.caption--uppercase.caption--bold
                                    | wrap around
                            .card__panel--item
                                h2.caption.caption--size_3.caption--uppercase.caption--bold.caption--line_height_1
                                    | polycarbonate
                                .price-group
                                    h2.caption.caption--size_3.caption--uppercase.caption--bold.caption--line_height_1
                                        | $30
                            .card__panel--control
                                .control--button
                                    button.button.js-button--orange(data-id='orange')
                                        img(src="./img/mirror_lumolux_13.png", alt="glases")
                                    .label
                                        p.caption.caption--size_5.caption--bold Orange mirror
                                .control--button
                                    button.button.js-button--blue(data-id='blue')
                                        img(src="./img/mirror_lumolux_14.png", alt="glases")
                                        span.caption.caption--size_6.caption--bold.caption--color_white SALE
                                    .label
                                        p.caption.caption--size_5.caption--bold Blue mirror
                                .control--button
                                    button.button.js-button--green(data-id='green')
                                        img(src="./img/mirror_lumolux_9.png", alt="glases")
                                    .label
                                        p.caption.caption--size_5.caption--bold Green mirror
                            .card__panel--item
                                h2.caption.caption--size_3.caption--uppercase.caption--bold.caption--line_height_1
                                    | POLYCARBONATE POLARIZED
                                .price-group.js-price-group
                                    .discount
                                        h2.caption.caption--size_3.caption--uppercase.caption--bold.caption--line_height_1
                                            | $50.00
                                        h2.caption.caption--size_3.caption--uppercase.caption--bold.caption--line_height_1
                                            | $30.00
                            .card__panel--control
                                .control--button
                                    button.button.js-button--orange(data-id='orange')
                                        img(src="./img/mirror_lumolux_13.png", alt="glases")
                                    .label
                                        p.caption.caption--size_5.caption--bold Orange mirror
                                .control--button
                                    button.button.js-button--blue(data-id='blue')
                                        img(src="./img/mirror_lumolux_14.png", alt="glases")
                                    .label
                                        p.caption.caption--size_5.caption--bold Blue mirror
                                .control--button
                                    button.button.js-button--green(data-id='green' )
                                        img(src="./img/mirror_lumolux_9.png", alt="glases")
                                    .label
                                        p.caption.caption--size_5.caption--bold Green mirror
                            .card__panel--item
                                h2.caption.caption--size_3.caption--uppercase.caption--bold.caption--line_height_1
                                    | TRIVEX® PERFORMANCE
                                .price-group
                                    h2.caption.caption--size_3.caption--uppercase.caption--bold.caption--line_height_1
                                        | $75
                            .card__panel--control
                                .control--button
                                    button.button.js-button--orange(data-id='orange')
                                        img(src="./img/mirror_lumolux_13.png", alt="glases")
                                    .label
                                        p.caption.caption--size_5.caption--bold Orange mirror
                                .control--button
                                    button.button.js-button--blue(data-id='blue')
                                        img(src="./img/mirror_lumolux_14.png", alt="glases")
                                    .label
                                        p.caption.caption--size_5.caption--bold Blue mirror
                                .control--button
                                    button.button.js-button--green(data-id='green')
                                        img(src="./img/mirror_lumolux_9.png", alt="glases")
                                    .label
                                        p.caption.caption--size_5.caption--bold Green mirror
                        .card.card--mr_8
                            button.button.button--bg_aqua.js-button--add
                                span.caption.caption--uppercase.caption--size_5.caption--bold.caption--line_height_1
                                    | Add to cart
                            button.button.button--bg_black
                                span.caption.caption--uppercase.caption--size_5.caption--bold.caption--color_aqua.caption--line_height_1
                                    | build your prescription
                             
        script(src="js/script.js")
